PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=pilgrim_tracking
DATABASE_USER=postgres
DATABASE_PASSWORD=your_local_postgres_password
JWT_SECRET=replace_with_a_secure_local_secret
JWT_EXPIRES_IN=1h
account password (hidden):example123